{% load static %}

<!-- Bootstrap table data -->
<link href={% static "css/bootstrap-table.css" %} rel="stylesheet">
<!-- Bootstap table data js -->
<script src={% static "js/bootstrap-table.js" %}></script>
<!-- Bootstap table data js RUS locale -->
<script src={% static "locales/bootstrap-table-ru-RU.js" %}></script>


<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Сотрудники</h4>
</div>

<div class="modal-body">
  <!-- Таблица сотрудников -->
  <div class="container-fluid">

    <table id="actorsTable" data-toggle="table" data-url="{% url 'json' 'act' %}" data-sort-name="surname" data-locale="ru-RU">
      <thead>
	<tr>
	  <th data-field="pk" data-visible="false"></th>
	  <th data-field="surname">Фамилия</th>
	  <th data-field="name">Имя</th>
	  <th data-field="is_active" data-checkbox="true" data-editable="true">Активен</th>
	</tr>
      </thead>
    </table>

    <script src="{% static 'js/actorstable.js' %}"></script>
  </div>

</div>

<div class="modal-footer">
  <!-- Форма доб. сотрудников -->
  <form class="form-horizontal" id="actorsForm" action="actors/" method="POST">
    {% csrf_token %}

    <div class="form-group">

      <div class="col-md-5">
	{{ form.act_surname }}
      </div>

      <div class="col-md-5">
	{{ form.act_name }}
      </div>

      <div class="col-md-2">
	<div class="checkbox-inline">
	  <label>{{ form.is_active }}Активен</label>
	</div>
      </div>

      <input id='id_act_pk' type='hidden' name='id_act_pk' />

    </div>

    <div class="form-group">
      <div class="col-md-offset-8 col-md-2">
	<button type="submit" class="btn btn-primary">Добавить</button>
      </div>
      <div class="col-md-2">
	<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>

	
  </form>
</div>
	
<script src={% static "js/actorstable.js" %}></script>
