{% load static %}

<link href="{% static 'css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" rel="stylesheet"> -->

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Добавить входящий документ</h4>
</div>

<div class="modal-body">

  <form id="addNewIn" action="testform/" method="POST">{% csrf_token %}
    <div class="row">
      <div class="col-lg-4">
	<div class="form-group">
	  <label class="control-label" for="rec_num">{{ form.rec_num.label }}</label>
	  {{ form.rec_num }}
	</div>
      </div>
      <div class="col-lg-8">
	<label class="control-label" for="rec_org">{{ form.rec_org.label }}</label>
	{{ form.rec_org }}
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
	<div class="form-group">
	  <label class="control-label" for="out_num">{{ form.out_num.label }}</label>
	    {{ form.out_num }}
	</div>
      </div>
      <div class="col-lg-6">
	<div class="form-group">
	  <label class="control-label" for="out_date">{{ form.out_date.label }}</label>
	  <div class="input-group date" data-provide="datepicker">
	    {{ form.out_date }}
	    <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">
	<div class="form-group">
	  <label class="control-label" for="rec_desc">{{ form.rec_desc.label }}</label>
	  {{ form.rec_desc }}	    
	</div>
      </div>
      <div class="col-lg-4">
	<div class="form-group">
	  <label class="control-label" for="rec_actor">{{ form.rec_actor.label }}</label>
	  {{ form.rec_actor }}
	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
	<div class="form-group">	  
	  <label class="control-label" for="control_date">{{ form.control_date.label }}</label>
	  <div class="input-group date" data-provide="datepicker">
	    {{ form.control_date }}
	    <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="form-group">
	  <label class="control-label" for="rec_deal">{{ form.rec_deal.label }}</label>
	  {{ form.rec_deal }}
	</div>
      </div>
      <div class="col-md-4">
	<div class="form-group">
	  <label class="control-label" for="action_date">{{ form.action_date.label }}</label>
	  <div class="input-group date" data-provide="datepicker">
	    {{ form.action_date }}
	    <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
	    </div>
	  </div>
	</div>
      </div>
    </div>	

  </form>  
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-primary" value="Добавить" form="addNewIn">Добавить</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>
	

<!-- Bootstrap datepicker + ru locale -->
<script src={% static "js/bootstrap-datepicker.min.js" %}></script>
<script src={% static "locales/bootstrap-datepicker.ru.min.js" %}></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.ru.min.js"></script>
-->
<script src={% static "js/newIn.js" %}></script>
