{% load staticfiles %}

<div class="container-fluid">
  <h2 class="text-center">Журнал входящей документации</h2>
  <table id="inRecTable" data-toggle="table" data-url="journal/json/in/" data-sort-name="rec_num" data-row-style="rowStyle" data-sort-order="desc" data-locale="ru-RU">
    <thead>
      <tr>
	<th data-field="state" data-checkbox="true"></th>
	<th data-field="pk" data-visible="false"></th>
        <th data-field="rec_num" data-sortable="true" data-sorter="inRecSorter">№ вх.</th>
        <th data-field="rec_date" data-formatter="dateFormatter">Дата регистрации</th>
        <th data-field="rec_org">Корреспондент</th>
	<th data-field="out_num">№ исх. корр.</th>
        <th data-field="out_date" data-formatter="dateFormatter">Дата исх. корр.</th>
        <th data-field="rec_desc">Краткое содержание</th>
	<th data-field="rec_actor" data-formatter="actorFormatter">Исполнитель</th>
	<th data-field="control_date" data-formatter="dateFormatter">Дата исполнения</th>
	<th data-field="rec_deal">№ дела</th>
	<th data-field="action_date" data-formatter="dateFormatter">Исполнено</th>
	<th data-field="pk" data-formatter="editFormatter"></th>
      </tr>
    </thead>
  </table>

  <script src="{% static 'js/inrecordtable.js' %}"></script>
</div>
