{% load static %}

<!-- bootstrap datepicker css -->
<link href="{% static 'css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Пометить как выполненные</h4>
</div>

<div class="modal-body">

  <form id="markDoneForm" action="markdone/" method="POST">
    {% csrf_token %}

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
	<div class="form-group">
	  <label class="control-label" for="action_date">{{ form.action_date.label }}</label>
	  <div class="input-group date" data-provide="datepicker">
	    {{ form.action_date }}
	    <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
	    </div>
	  </div>
	</div>
      </div>
    </div>	

  </form>  
</div>

<div class="modal-footer">
  <button id="markDoneSubmit" class="btn btn-primary" value="Выполнить">Выполнить</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>
	

<!-- Bootstrap datepicker + ru locale -->
<script src={% static "js/bootstrap-datepicker.min.js" %}></script>
<script src={% static "locales/bootstrap-datepicker.ru.min.js" %}></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.ru.min.js"></script>
-->
<script src={% static "js/markdone.js" %}></script>
