{% load static %}

<!-- Bootstrap table data -->
<link href={% static "css/bootstrap-table.css" %} rel="stylesheet">
<!-- Bootstap table data js -->
<script src={% static "js/bootstrap-table.js" %}></script>
<!-- Bootstap table data js RUS locale -->
<script src={% static "locales/bootstrap-table-ru-RU.js" %}></script>


<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Корреспонденты</h4>
</div>

<div class="modal-body">
  <!-- Таблица организация -->
  <div class="container-fluid">

    <table id="orgTable" data-toggle="table" data-url="{% url 'json' 'org' %}" data-sort-name="org_name" data-locale="ru-RU">
      <thead>
	<tr>
	  <th data-field="pk" data-visible="false"></th>
	  <th data-field="org_name">Корреспондент</th>
	</tr>
      </thead>
    </table>

  </div>

</div>

<div class="modal-footer">
  <!-- Форма доб. сотрудников -->
  <form class="form-horizontal" id="orgsForm" action="{% url 'edit_rec_org' %}" method="POST">
    {% csrf_token %}
    {{ form.pk }}

    <div class="form-group">
      <div class="col-md-6">
	{{ form.org_name }}
      </div>
      <div class="col-md-2"> 
	<button type="reset" class="btn btn-info">Очистить</button>
      </div>      
      <div class="col-md-2">
	<button type="submit" class="btn btn-primary">Доб./Изм.</button>
      </div>
      <div class="col-md-2">
	<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>

	
  </form>
</div>
	
<script src={% static "js/orgstable.js" %}></script>
